<div id="bg">
    <div class="table_color" style="margin:15px 15px 0 15px;">
        <h1 class="ml-5 title">Students</h1>
        <table class="table mx-auto w-75 mt-5 color_text">
            <thead class="color_text">
                <tr>
                    <th class="text-center">Firstname</th>
                    <th class="text-center">Lastname</th>
                    <th class="text-center">Card number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="color_text">
                <tr *ngFor="let s of students; let i = index; let odd = odd;">
                    <td class="text-center">{{s.userDTO.firstName}}</td>
                    <td class="text-center">{{s.userDTO.lastName}}</td>
                    <td class="text-center"><button class="btn btn-link" (click)="goToViewStudent(s)" style="color:#00f7ff; text-decoration: none;">{{s.cardNumber}}</button></td>
                    <td class="text-center"><button type="button" class="btn btn-danger btn-sm" (click)="deleteStudent(s)">X</button></td> 
                </tr>
            </tbody>
        </table>
        <nav class="d-inline-block text-center w-100">
            <ul class="pagination d-inline-block">
              <li class="page-item d-inline-block">
                <button class="page-link" (click)="reduceNumberPage()">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </button>
              </li>
              <div class="d-inline-block" *ngFor="let i of numberPages;">
                <li *ngIf="numberPage===(i-1)" class="page-item d-inline-block active"><button class="page-link" (click)="setNumberPage(i)" style="background-color:#00f7ff; border-color:#00f7ff;">{{i}}</button></li>
                <li *ngIf="!(numberPage===(i-1))" class="page-item d-inline-block"><button class="page-link" (click)="setNumberPage(i)">{{i}}</button></li>
              </div>
              <li class="page-item d-inline-block">
                <button class="page-link" (click)="increaseNumberPage()">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </button>
              </li>
            </ul>
          </nav>
      </div> 
      </div>   