<div class="sidebar h_10">
    <!-- <div class="logo">
        <a routerLink="/courses" class="simple-text logo-normal ml-2">
        Home
        </a>
    </div> -->
    <div class="sidebar-wrapper">
        <ul class="nav">
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/courses" class="nav-link"> Courses </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/teacher-exam-parts/0" class="nav-link"> Exam parts </a>
        </li>
        </ul>
    </div>
</div>

