<div class="table_color ">
    <div class=" row">
        <div class=" col-sm-6 text-left">
            
                <h1 class="ml-3 mb-0 title">{{student.cardNumber}}</h1>
                <h3 class="ml-5"><i>{{student.userDTO.firstName}} {{student.userDTO.lastName}}</i></h3>
              
        </div>
        <div class=" col-sm-6">
          <div class=" btn-group btn-group-toggle float-right"
          data-toggle="buttons">
          
          <label class=" btn btn-sm btn-danger btn-simple" >
            <input checked="checked" name="options" type="radio" />
    
            <a class=" d-none d-sm-block d-md-block d-lg-block d-xl-block font-weight-bold" (click)="goBack()">
                Go back
            </a>
            <span class=" d-block d-sm-none">
              <i class=" tim-icons icon-single-02"> </i>
            </span>
          </label>
        </div>
        </div>
      </div>
   
    <div class="row mx-auto w-75 mt-5">
        <div class="ml-5 col">
            <b>Course title:</b> <input type="text" readonly class="form-control ml-2" [(ngModel)]="exam.enrollmentDTO.courseInstanceDTO.courseSpecificationDTO.title">
        </div>
        <div class="w-20 ml-5 col">
            <b class="d-block">Gradle:</b> 
            <input type="text" *ngIf="!editGradle" readonly class="form-control ml-2 col-3 text-center d-inline" [(ngModel)]="exam.gradle">
            <input type="text" *ngIf="editGradle" class="form-control ml-2 col-3 text-center d-inline" [(ngModel)]="exam.gradle">
            <div class="mt-4 d-inline ml-1">
                <button type="button" class="btn-primary rounded mt-1" *ngIf="!editGradle" (click)="edit()">🖉</button>
                <button type="button" class="btn-primary rounded mt-1" *ngIf="editGradle" (click)="submit()">✓</button>
                <button type="button" class="btn-primary rounded mt-1 ml-1" *ngIf="editGradle" (click)="cancel()">X</button>
            </div>
        </div>
        <div class="w-10 ml-5 col">
            <b>Points:</b> <input type="text" readonly class="form-control ml-2 col-7 text-center" [(ngModel)]="exam.points">
        </div>
        <div class="w-10 ml-5 col">
            <b>ECTS:</b> <input type="text" readonly class="form-control ml-2 col-6 text-center" [(ngModel)]="exam.enrollmentDTO.courseInstanceDTO.courseSpecificationDTO.ects">
        </div>
    </div>
    <table class="table mx-auto w-90 mt-5">
        <thead>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Location</th>
                <th class="text-center">Points</th>
                <th class="text-center">Won points</th>
                <th class="text-center">Status</th>
                <th class="text-center">Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of examParts; let i = index; let odd = odd;">
                <td class="text-center">{{ dateToString(e.date) | date:'medium'}}</td>
                <td class="text-center">{{ e.location }}</td>
                <td class="text-center">{{ e.points }}</td>
                <td class="text-center" *ngIf="!isIn(e.id)">{{ e.wonPoints }}</td>
                <td class="text-center w-15" *ngIf="isIn(e.id)"><input [(ngModel)]="examPart.wonPoints" type="text" class="form-control col-5 text-center d-inline-block" value="{{ e.wonPoints }}"></td>
                <td class="text-center" *ngIf="!isIn(e.id)">{{ e.statusDTO.name }}</td>
                <td class="text-center w-20" *ngIf="isIn(e.id)">
                    <select class="form-control text-center col-8 d-inline-block" [(ngModel)]="examPart.statusDTO.code">
                        <option class="black_text_color" *ngFor="let s of examPartStatuss" value="{{s.code}}">{{s.name}}</option>
                    </select>
                </td>
                <td class="text-center">{{ e.examPartTypeDTO.name }}</td>
                <td>
                    <button type="button" class="ml-1 btn-primary rounded" *ngIf="!isIn(e.id)" (click)="editExamPart(e)">🖉</button>
                    <button type="button" class="ml-1 btn-primary rounded" *ngIf="isIn(e.id)" (click)="submitExamPart()">✓</button>
                    <button type="button" class="ml-1 btn-primary rounded" *ngIf="isIn(e.id)" (click)="cancelExamPart()">X</button>
                </td>
            </tr>
        </tbody>
    </table>
    <nav class="d-inline-block text-center w-100">
        <ul class="pagination d-inline-block">
          <li class="page-item d-inline-block">
            <button class="page-link" (click)="reduceNumberPage()">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </button>
          </li>
          <div class="d-inline-block" *ngFor="let i of numberPages;">
            <li *ngIf="numberPage===(i-1)" class="page-item d-inline-block active"><button class="page-link" (click)="setNumberPage(i)">{{i}}</button></li>
            <li *ngIf="!(numberPage===(i-1))" class="page-item d-inline-block"><button class="page-link" (click)="setNumberPage(i)">{{i}}</button></li>
          </div>
          <li class="page-item d-inline-block">
            <button class="page-link" (click)="increaseNumberPage()">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </button>
          </li>
        </ul>
      </nav>
</div>

