<div class=" col-md-8 color_text">
    <div class=" table_color">
        <h1 class="ml-5 title">Course instance</h1>
        <form class="ml-5">
          <div class="row ml-2">
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <b>Course:</b>
                <input class='form-control' (keyup)="searchSpecification($event)" list="coursesSpecifications" [(ngModel)]="courseSpecificationCode" [ngModelOptions]="{standalone: true}" className='form-control form-control-sm col-10'/>
                <datalist id='coursesSpecifications'>
                    <option *ngFor="let cs of coursesSpecifications" value="{{cs.code}}">{{cs.title}}</option>
                </datalist>
              </div> 
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <b>Start date:</b>
                <input type="date" class="form-control" [(ngModel)]="courseInstance.startDate" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <b>End date:</b>
                <input type="date" class="form-control" [(ngModel)]="courseInstance.endDate" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
        </form>
        <div class="text-right mt-2">
          <button type="button" class="btn btn-fill btn-danger" (click)="save()">✓</button>
          <button type="button" class="btn btn-fill btn-danger ml-1" (click)="goBack()">X</button>
        </div>
    </div>
  </div>
  
