<div class="table_color">
    <div class=" row">
        <div class=" col-sm-6 text-left">
            <h1 class="ml-5 title">Course instance</h1>
        </div>
        <div class=" col-sm-6">
          <div
            class=" btn-group btn-group-toggle float-right"
            data-toggle="buttons"
          >
            <label class=" btn btn-sm btn-danger btn-simple" (click)="gotToExamParts()">
              <input checked="checked" name="options" type="radio" />
  
              <span
                class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
              >
              Exam parts
              </span>
              <span class=" d-block d-sm-none">
                <i class=" tim-icons icon-single-02"> </i>
              </span>
            </label>
            <label class=" btn btn-sm btn-danger btn-simple" >
                <input checked="checked" name="options" type="radio" />
    
                <a class=" d-none d-sm-block d-md-block d-lg-block d-xl-block font-weight-bold" (click)="goBack()">
                    Go back
                </a>
                <span class=" d-block d-sm-none">
                  <i class=" tim-icons icon-single-02"> </i>
                </span>
              </label>
          </div>
        </div>
      </div>
    <div class="form-group text-center color_text">
        <div class="mt-4">
            <div class="col-2 d-inline mr-5">
                <b>Course:</b>
                <input *ngIf="editInstance!=true" class='form-control col-2 ml-2 mb-3 d-inline' readonly list="coursesSpecifications" [(ngModel)]="courseSpecificationCode"/>
                <input *ngIf="editInstance" (keyup)="searchSpecification($event)" class='form-control col-2 ml-2 mb-3 d-inline' list="coursesSpecifications" [(ngModel)]="courseSpecificationCode"/>
                <button type="button" class="ml-1 btn-primary rounded" *ngIf="!editInstance" (click)="edit()">🖉</button>
                <button type="button" class="ml-1 btn-primary rounded" *ngIf="editInstance" (click)="submit()">✓</button>
                <button type="button" class="ml-1 btn-primary rounded" *ngIf="editInstance" (click)="cancel()">X</button>
                <datalist id='coursesSpecifications'>
                    <option *ngFor="let cs of coursesSpecifications" value="{{cs.code}}">{{cs.title}}</option>
                </datalist>
            </div> 
            <div class="d-inline ml-4">
                <b>ECTS:</b>
                <input type="text" readonly class="form-control col-2 d-inline ml-2" [(ngModel)]="courseInstance.courseSpecificationDTO.ects">
            </div>
        </div>
        <div>
            <b>Start:</b>
            <input type="date" (focusout)="submit()" class="form-control col-2 d-inline ml-2" style="margin-right: 10%; margin-top: 2%;" [(ngModel)]="startDate">
            <b>End:</b>
            <input type="date" (focusout)="submit()" class="form-control col-2 d-inline ml-2" [(ngModel)]="endDate">
        </div>
        <div class="mt-3" *ngIf="role==='ROLE_ADMINISTRATOR'">
            <b>Teacher: </b>
            <input *ngIf="editTeacher!=true" class='form-control col-2 ml-2 mb-3 d-inline' readonly list="teachers" [(ngModel)]="teacherUsername"/>
            <input *ngIf="editTeacher" (keyup)="searchTeacher($event)" class='form-control col-2 ml-2 mb-3 d-inline' list="teachers" [(ngModel)]="teacherUsername"/>
            <button type="button" class="ml-1 btn-primary rounded" *ngIf="!editTeacher" (click)="teacherEdit()">🖉</button>
            <button type="button" class="ml-1 btn-primary rounded" *ngIf="editTeacher" (click)="teacherSubmit()">✓</button>
            <button type="button" class="ml-1 btn-primary rounded" *ngIf="editTeacher" (click)="teacherCancel()">X</button>
            <datalist id='teachers'>
                <option *ngFor="let t of teachers" value="{{t.userDTO.userName}}">{{t.userDTO.firstName}} {{t.userDTO.lastName}}</option>
            </datalist>
        </div>
        <div class="main pt-5">
            <table class="table mx-auto w-75">
                <thead class="color_text">
                    <tr>
                        <th colspan="4">
                            <h2 class="ml-5">Students</h2>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center">Card number</th>
                        <th class="text-center">Firstname</th>
                        <th class="text-center">Lastname</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="color_text">
                    <tr *ngFor="let s of students">
                        <td class="text-center"><button class="btn btn-link" (click)="goToStudentDetail(s)">{{s.cardNumber}}</button></td>
                        <td class="text-center">{{s.userDTO.firstName}}</td>
                        <td class="text-center">{{s.userDTO.lastName}}</td>
                        <td class="text-center"><button type="button" class="btn btn-danger btn-sm" (click)="removeStudent(s)">X</button></td>
                    </tr>
                </tbody>
            </table>
            <nav class="d-inline-block text-center w-100">
                <ul class="pagination d-inline-block">
                    <li class="page-item d-inline-block">
                    <button class="page-link" (click)="reduceNumberPage()">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </button>
                    </li>
                    <div class="d-inline-block" *ngFor="let i of numberPages;">
                    <li *ngIf="numberPage===(i-1)" class="page-item d-inline-block active"><button class="page-link" (click)="setNumberPage(i)">{{i}}</button></li>
                    <li *ngIf="!(numberPage===(i-1))" class="page-item d-inline-block"><button class="page-link" (click)="setNumberPage(i)">{{i}}</button></li>
                    </div>
                    <li class="page-item d-inline-block">
                    <button class="page-link" (click)="increaseNumberPage()">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </button>
                    </li>
                </ul>
                </nav>
                <div>
                    <input class='form-control col-2 ml-2 mb-3 d-inline' (keyup)="searchStudents($event)" list="otherStudents" [(ngModel)]="studentCardNumber"/>
                    <datalist id='otherStudents'>
                        <option *ngFor="let s of otherStudents" value="{{s.cardNumber}}">{{s.userDTO.firstName}} {{s.userDTO.lastName}}</option>
                    </datalist>
                    <button type="button" class="ml-1 btn-primary rounded" (click)="addStudent()">Add student</button>
            </div>
        </div>
    </div>
</div>
