<div class="sidebar h_13">
    <!-- <div class="logo">
      <a routerLink="/home" class="simple-text logo-normal ml-2">
        Home
      </a>
    </div> -->
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/exams" class="nav-link"> Exams </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/account" class="nav-link"> Account </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/documents" class="nav-link"> Documents </a>
        </li>
      </ul>
    </div>
</div>
