<div class=" content">
    <div class=" row">
      <div class=" col-md-8">
        <div class=" card">
          <div class=" card-header" style="background-color: rgba(39,41,61,255); color: white;"></div>
          <div class=" card-body" style="background-color: rgba(39,41,61,255); color: white;">
            <form>
              <div class=" row">
    <h1>Add exam</h1>
    <div>
        <h4>Course instance</h4>
        <select class="form-control col-2 d-inline">
            <option value="">--Select instance--</option>
        </select>
    </div>
    <button type="button" class="btn btn-outline-primary mt-5 ml-10">Save</button>
</div>
</form></div></div></div></div></div>
