<div id="bg">
    <div class=" col-md-8 color_text" style="margin-top:15px;">
            <div class=" table_color">
              <h1 class="ml-5 title">User</h1>
              <form class="ml-5">
                <div class="row">
                  <div class="row w-50">
                    <div class="row ml-2">
                      <div class=" col-md-5 px-md-1">
                        <div class=" form-group">
                          <b>Firstname:</b>
                          <input type="text" class="form-control" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                      <div class="col-md-5 px-md-1">
                        <div class=" form-group">
                          <b>Lastname:</b>
                          <input type="text" class="form-control" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>
                    <div class="row ml-2">
                      <div class="col-md-5 pl-md-1">
                        <b>Username:</b>
                        <input type="text" *ngIf="mode === 'EDIT'" readonly class="form-control" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}">
                        <input type="text" *ngIf="mode === 'ADD'" class="form-control" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-md-5 pr-md-1">
                        <div class="form-group">
                          <b>Password:</b>
                          <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row w-50">
                    <div class="col-md-8 pr-md-1 ml-5">
                      <h4>Roles</h4>
                      <div *ngIf="user.roles.length > 0">
                        <table class="table">
                          <tr *ngFor="let role of user.roles">
                            <td class="color_text">
                              {{role.name}}
                              <button type="button" class="btn btn-danger btn-sm" (click)="removeRole(role.code)">X</button>
                            </td>
                          </tr>
                        </table>
                      </div>  
                    </div>
                    <div *ngIf="unassignedRoles.length > 0" class="col-md-7 pr-md-1 btn-group ml-5">
                      <select class='form-control' [(ngModel)]="roleCode" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let role of unassignedRoles" class="black_text_color" value="{{role.code}}">{{role.name}}</option>
                      </select>
                      <div class="text-right">
                        <button type="button" class="btn btn-sm ml-1" (click)="assignRole()">+</button>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="text-right mt-2">
                    <button type="button" class=" btn btn-fill btn-danger" (click)="save()">✓</button>
                    <button type="button" class=" btn btn-fill btn-danger ml-1" (click)="goBack()">X</button>
                  </div> 
              </form>
        </div>
        </div>
    
    